.dashboard-base {
  display: grid;
  width: 96%;
  margin: 0 auto 0 16px;
  gap: 1.8rem;
  grid-template-columns: 12rem auto 23rem;
}

aside .dashboard-sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(25, 25, 25);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
  border: 0.65mm solid #5f00ff;
  height: 96.2vh;
  position: relative;
  top: 1rem;
}

aside .dashboard-sidebar a {
  display: flex;
  align-items: center;
  color: rgb(215, 215, 215);
  height: 2.35rem;
  gap: 0.565rem;
  position: relative;
  margin-left: 1rem;
}

aside .dashboard-sidebar a:hover {
  color: #8033ff;
}

.pageTitle {
  font-size: 28px !important;
}

.user-card {

}
